footer,.copyright{
     padding: 70px 0px;
     background: $bg-color;
     color: $inverse-bg;
     
}
.copyright{
     border-top: 2px solid $primary-color;
     .center{
          text-align: center;
     }
     padding: 5px 0px;
}
footer{
     .f-menu{
          display: flex;
          flex-direction: column;
     }
}