@import "../base/reset";


header{
     height: 75px;
     position: static;
     z-index:10;
     width: 100vw;
     margin-top: -10px;
     transform: translateY(0%);
     background-color: $bg-color;
     color: $inverse-bg;
     opacity: 1;
     transition: 0.6s ease-in;
     align-items: center;

     #menuZone{
          display: flex;
          align-items: center;
          font-weight: bold;
          
     }
     #logoZone{
          h2{
               font-size: 20px;
          }
     }
     // NOT WORKING
     // &:hover{
     //      background:$inverse-bg;
     //      color: $bg-color;
     // }
     &.headerTwo{
          transform: translateY(-30%);
          position: fixed;
          align-items: end;
          padding: 10px 0px;
          opacity: 0.5;
          .account{
               transform: scale(0.7);
          }
          &.active{
               transform: translateY(0%);
               align-items: center;
               opacity: 0.9;

          }
     }
     
}