/* LIGHT Colors */
/* Dark Colors */
/* Typography */
/* Fonts */
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
  font-family: "Souvenir", "Arial";
  color: #202020;
}

body {
  background-color: #fcfcfc;
}

h1, h2 {
  font-family: "Futura Bold", "Arial Rounded Mt Bold";
}

a {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

section {
  min-height: 50vh;
}

a.no-clout {
  color: inherit;
  text-decoration: inherit;
  transform: scale(0.95);
  height: 250px;
  padding: 20px;
}

a:hover {
  color: #647DEE;
  text-decoration: none;
}

#mainContainer {
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

/* Fonts */
/* LIGHT Colors */
/* Dark Colors */
/* Typography */
/* Fonts */
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
  font-family: "Souvenir", "Arial";
  color: #202020;
}

body {
  background-color: #fcfcfc;
}

h1, h2 {
  font-family: "Futura Bold", "Arial Rounded Mt Bold";
}

a {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

section {
  min-height: 50vh;
}

a.no-clout {
  color: inherit;
  text-decoration: inherit;
  transform: scale(0.95);
  height: 250px;
  padding: 20px;
}

a:hover {
  color: #647DEE;
  text-decoration: none;
}

#mainContainer {
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

button {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}
button .btn-primary {
  background-color: #647DEE;
  color: #fcfcfc;
}
button .filtersBtn {
  min-width: 100px;
}

.spacer {
  height: 75px;
}

breadcrumb {
  padding: 10px;
  display: flex;
  opacity: 0.6;
}
breadcrumb > * {
  padding: 2px 10px;
}

.produit .hoverImgCont {
  overflow: hidden;
}
.produit .hoverImgCont img {
  width: 100%;
}
.produit .hoverImgCont button {
  position: relative;
  margin-top: 0;
  display: none;
}
.produit .hoverImgCont:hover img {
  transform: scale(1.1);
}
.produit .hoverImgCont:hover button {
  display: block;
  margin-top: -50px;
}
.produit .productProperty {
  padding: 10px;
}

.idProd {
  display: none !important;
}

footer, .copyright {
  padding: 70px 0px;
  background: #fcfcfc;
  color: #202020;
}

.copyright {
  border-top: 2px solid #647DEE;
  padding: 5px 0px;
}
.copyright .center {
  text-align: center;
}

footer .f-menu {
  display: flex;
  flex-direction: column;
}

/* LIGHT Colors */
/* Dark Colors */
/* Typography */
/* Fonts */
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
  font-family: "Souvenir", "Arial";
  color: #202020;
}

body {
  background-color: #fcfcfc;
}

h1, h2 {
  font-family: "Futura Bold", "Arial Rounded Mt Bold";
}

a {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

section {
  min-height: 50vh;
}

a.no-clout {
  color: inherit;
  text-decoration: inherit;
  transform: scale(0.95);
  height: 250px;
  padding: 20px;
}

a:hover {
  color: #647DEE;
  text-decoration: none;
}

#mainContainer {
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

header {
  height: 75px;
  position: static;
  z-index: 10;
  width: 100vw;
  margin-top: -10px;
  transform: translateY(0%);
  background-color: #fcfcfc;
  color: #202020;
  opacity: 1;
  transition: 0.6s ease-in;
  align-items: center;
}
header #menuZone {
  display: flex;
  align-items: center;
  font-weight: bold;
}
header #logoZone h2 {
  font-size: 20px;
}
header.headerTwo {
  transform: translateY(-30%);
  position: fixed;
  align-items: end;
  padding: 10px 0px;
  opacity: 0.5;
}
header.headerTwo .account {
  transform: scale(0.7);
}
header.headerTwo.active {
  transform: translateY(0%);
  align-items: center;
  opacity: 0.9;
}

/* LIGHT Colors */
/* Dark Colors */
/* Typography */
/* Fonts */
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
  font-family: "Souvenir", "Arial";
  color: #202020;
}

body {
  background-color: #fcfcfc;
}

h1, h2 {
  font-family: "Futura Bold", "Arial Rounded Mt Bold";
}

a {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

section {
  min-height: 50vh;
}

a.no-clout {
  color: inherit;
  text-decoration: inherit;
  transform: scale(0.95);
  height: 250px;
  padding: 20px;
}

a:hover {
  color: #647DEE;
  text-decoration: none;
}

#mainContainer {
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

#home #slider {
  height: 90vh;
  background-image: url("../images/slide-02.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  color: #fcfcfc;
}
#home #slider div h1 {
  font-weight: bold;
  color: #fcfcfc;
}
#home #slider div h4 {
  padding: 5px 20px;
  color: #fcfcfc;
}

#categoryGrid {
  padding: 20px 50px;
}
#categoryGrid .row a {
  border: 1px solid rgba(100, 125, 238, 0.6);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#categoryGrid .row a button {
  margin-top: 30%;
}
#categoryGrid .row #hommeCat {
  background-image: url("../images/banner-02.jpg");
}
#categoryGrid .row #femmeCat {
  background-image: url("../images/banner-01.jpg");
}
#categoryGrid .row #accesoireCat {
  background-image: url("../images/banner-03.jpg");
}
#categoryGrid .row a {
  backdrop-filter: grayscale(0.5) opacity(0.8);
}

.container div .aboutImg img {
  width: 90%;
  overflow: hidden;
  box-shadow: -20px 20px 2px 0px rgba(100, 125, 238, 0.6);
}

/* PLACEHOLDERS AND CLASSES */
/* LIGHT Colors */
/* Dark Colors */
/* Typography */

/*# sourceMappingURL=main.css.map */
