footer,.copyright{
     padding: 70px 0px;
     background: #202020;
     color: azure;
}
.copyright{
     border-top: 2px solid white;
     .center{
          text-align: center;
     }
     padding: 5px 0px;
}