@import "../base/reset";


header{
     
     &.secondaryHeader{
          height: 50px;
          z-index:10;
          padding:10px;
          width: 100vw;
          background: #8080fa;
          #menuZone{
               display: flex;
               align-items: center;
               font-weight: bold;
               color: red;
          }
          &:hover{
               // background:#202020fa
          }
     }
 
     &.mainHeader{
          height: 50px;
          z-index:10;
          padding:10px;
          width: 100vw;
          background: #8080fa;
          #menuZone{
               display: flex;
               align-items: center;
               font-weight: bold;
               color: blue;
          }
          &:hover{
               // background:#202020fa
          }
     }
     
}