

/* LIGHT Colors */
$bg-color:#fcfcfc;
$card-color:#f0f0f0;
$primary-color:#647DEE;
$inverse-bg:#202020;
$primary-opacity:rgba(100,125,238,0.6);

/* Dark Colors */
// $bg-color: #202020;
// $card-color:#303030;
// $primary-color:#eea764;
// $inverse-bg:#fcfcfc;
// $primary-opacity:#eea76450;



/* Typography */
$smaller:12px;
$semi:18px;
$medium:22px;
$larger:26px;
$xlarger:30px;
